<%# add navigation links to this file %>
<li><%= link_to 'About', page_path('about') %></li>
    <% if current_user %>
      <li>Logged in as <%= current_user.email %></li>
      <li><%= link_to "Log out", log_out_path %></li>
    <% else %>
      <li><%= link_to "Sign up", sign_up_path %></li>
      <li><%= link_to "log in", log_in_path %></li>
    <% end %>
